/*****************************************************************NAVIGATION***************************************************************/
@import url('https://fonts.googleapis.com/css?family=Metal+Mania');
/*******************************************************************Home Page BODY*****************************************************************/
#home_body {
       display: flex;
       flex-direction: column; 
       min-height: 100vh;  
       margin: 0px;
       background-image: url("https://i.ytimg.com/vi/XDzT8zJN5Zs/maxresdefault.jpg");
       background-size: cover;
}
#container{
    flex: 1;  
    display: flex;
    flex-direction: row;
}

/* CSS for Navbar */
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aliceblue;
    position: sticky;
    top: 0px;
}
nav ul li a:hover{
    background-color: rgb(108, 202, 202);
}
.nav_list {
    margin: 10px;
    list-style: none;
    text-decoration: none;
 }
.navul {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: flex-end;
}
a {
    text-decoration: none;
    color: cadetblue;
   }
.logo {
    font-family: 'Metal Mania', cursive;
    padding-left: 10px;
}

/* Home Page Content */
.band_title {
    margin:30px;
    font-family: 'Metal Mania', cursive;
    font-size: 3em;
    color: azure;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px azure;
}
  
#background{
    margin:auto;
}
#slide_img{
    background-repeat: no-repeat;
    height: 400px;
    width: 700px; 
}

/* CSS for Tour Page */
#tour__body {
    position: relative;
    margin: 0;
    background-color: rgb(0, 166, 255);
}
#tour__body:after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 0.5;
    z-index: -1;
    background-image: url("https://i.ytimg.com/vi/XDzT8zJN5Zs/maxresdefault.jpg");
    background-size: cover;
    margin:0;
}

.flexon {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Metal Mania', cursive;
    font-size: 1em;
    color: rgb(254, 246, 29);
    -webkit-text-stroke: .5px black;
}

.tour__h1 {
    font-family: 'Metal Mania', cursive;
    text-align: center;
    font-size: 3em;
    padding: 0;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px rgb(0, 0, 0);
}

.tour__h6 {
    font-family: 'Metal Mania', cursive;
    text-align: center;
    font-size: 1em;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 15px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px rgb(0, 0, 0);
}

#tour_dates {
    flex-direction: row;
    flex-wrap: wrap;
}

.tour__footer {
    position: absolute;
    bottom: 0px; 
    left: 0;
    width: 100%;
    margin-top: 20px;
    height:auto;
}

/* JS for eegg.html */
#eegg__body {
    position: relative;
    margin: 0;
    background-color: rgb(0, 166, 255);
}
#eegg__body:after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 0.3; 
    z-index: -1;
    background-image: url("https://i.ytimg.com/vi/XDzT8zJN5Zs/maxresdefault.jpg");
    background-size: cover;
    margin: 0;
}

.eegg__flexon {
    display: flex;
    text-align: left;
    font-family: 'Metal Mania', cursive;
    font-size: 1em;
    margin: 10px;
    color: rgb(254, 246, 29);
    -webkit-text-stroke: .5px black;
}

.eegg__h1 {
    font-family: 'Metal Mania', cursive;
    text-align: center;
    font-size: 3em;
    padding: 0;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px rgb(0, 0, 0);
}

.caption {
    font-size: 12px;
}

/*******************************************************************BODY*****************************************************************/

#container {
    margin:20px;  
    flex: 1;  
    display: flex;
    flex-direction: row;
}  
#songs__body {
    display: flex;
    flex-direction: column; 
    min-height: 50vh;
    background: url(https://i.ytimg.com/vi/XDzT8zJN5Zs/maxresdefault.jpg);  
}

/*******************************************************************DISCOGRAPHY*****************************************************************/

.odd {
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    width: 100%;
    margin: 50px 0;
    background-color: skyblue;
    justify-content: space-around;
    align-items: center;
}

.even {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    background-color: skyblue;
    justify-content: space-around;
    align-items: center;
}

.even__pic {
    height: 500px;
    width: 500px;
}

.odd__pic {
    height: 500px;
    width: 500px;
}

.discography {
    text-align: center;
    font-family: 'Metal Mania', cursive;
    font-size: 3em;
    color: azure;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px azure;
}

.even__titles{
    text-align: center;
    font-family: 'Metal Mania', cursive;
    font-size: 55px;
    color: white;
}

.odd__titles{
    text-align: center;
    font-family: 'Metal Mania', cursive;
    font-size: 55px;
    color: white;
}

.even__songs{
    text-align: center;
    font-family: 'Metal Mania', cursive;
    font-size: 40px;
    color: white;
}

.odd__songs{
    text-align: center;
    font-family: 'Metal Mania', cursive;
    font-size: 40px;
    color: white;
}

/*****************************************************************FOOTER*****************************************************************/

#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
}
.footer_img{
    max-width: 30px;
    max-height: 30px;
    margin: 5px;
}

/* Members Page CSS */

#band__body {
    background-color: rgb(0, 174, 255);
    position: relative;
    margin: 0;
}

#band__body:after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 0.6; 
    z-index: -1;
    background: url("https://i.ytimg.com/vi/XDzT8zJN5Zs/maxresdefault.jpg");
    margin:0;
}

#band__title {
    text-align: center;
    font-size: 5em;
    font-family: 'Metal Mania', cursive;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px rgb(0, 0, 0);
    margin: 0;
}

#band__subtitle {
    text-align: center;
    font-size: 3em;
    font-family: 'Metal Mania', cursive;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px rgb(0, 0, 0);
    margin: 0;
}

#top__image {
    display: flex;
    justify-content: center;
}

#band__barber {
    top: 45%;
}

#bio__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.member {
    width: 30%;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    background-color: aquamarine;
    box-shadow: 10px 10px 5px rgb(235, 182, 133);
}

.band__image {
    max-width: 90%;
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.member h3 {
    text-align: center;
    font-family: 'Metal Mania', cursive;
}

.fave__header {
    font-family: 'Metal Mania', cursive;
    margin: 0;
}

.band__fave {
    margin: 0;
}

#bio {
    text-align: center;
}

#band__bio {
    text-align: justify;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

/* Media Settings for Site */

@media (min-width:600px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (min-width:800px) {
    body {
      font-size: 18px;
    }
  }
  
  @media (min-width:1000px) {
    body {
      font-size: 20px;
    }
  }