/*****************************************************************NAVIGATION***************************************************************/

.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.navul {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: flex-end;
}
.navul li {
    
}

/*******************************************************************BODY*****************************************************************/

#container {
    margin:20px;  
    flex: 1;  
    display: flex;
    flex-direction: row;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 50vh;  
}

/*******************************************************************DISCOGRAPHY*****************************************************************/

.odd {
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    width: 100%;
    margin: 50px 0;
    background-color: blue;
    justify-content: space-between;
}

.even {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    background-color: skyblue;
    justify-content: space-between;
}


.even__pic {
    height: 100%
}

.odd__pic {
    height: 100%;
}

/* .even__titles{

} */

/* .even__songs{

} */
/*****************************************************************FOOTER*****************************************************************/

#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.footer_img{
    max-width: 30px;
    max-height: 30px;
    margin: 5px;
}