body {
       display: flex;
       flex-direction: column; 
       min-height: 50vh;  
}

#container{
    margin:20px;  
    flex: 1;  
    display: flex;
    flex-direction: row;
}

/* CSS for Navbar */

.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.navul {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: flex-end;
}
.navul li {
    
}

/* CSS for Tour Page */

.tour__h1 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px #3af007;
}

.tour__domdiv {
    flex: 100%;
    flex-direction: column;
    height: 600px;
}

/* CSS for Footer */

#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.footer_img{
    max-width: 30px;
    max-height: 30px;
    margin: 5px;
}